.SliderSize{
    
    max-width: 80%;
    margin-left: 10%;
    max-height: 500px;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
}
li {
    list-style-type: none;
}
.product-box {
    border: 3px rgb(255, 255, 255) solid;
    max-width: 300px;
    height: auto;
    box-shadow: 2px 2px 30px rgb(0 0 0 / 20%);
    border-radius: 10px;
    overflow: hidden;
    margin: 25px;
    
    
}
.product-img {
    max-height: auto;

    
}
.MoreAgencies a{
    color: grey;
    text-decoration: none;
    -webkit-user-drag: none;
    user-select: none;
    -moz-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
  
}
.MoreAgencies{
    margin-top: 100px;
    margin-left: 2%;
    height: 40px;
    width: 150px;
    
}
.product-text {
    max-width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    box-sizing: border-box;
    font-family: calibri;
}
.type {
    display: flex;
    flex-direction: column;
    
}
