.SliderSize{
    margin-top: 10px;
    border: 2px;
    border-color: black;
    max-width: 80%;
    margin-left: 10%;
    max-height: 500px;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
}
li {
    list-style-type: none;
}
.product-box {
    border: 1px grey solid;
    max-width: 300px;
    height: 400px;
    box-shadow: 2px 2px 30px rgb(0 0 0 / 20%);
    border-radius: 10px;
    overflow: hidden;
    margin: 25px;
    
}
.product-img {
    max-height: auto;

}
.MoreProperties a{
    color: grey;
    text-decoration: none;
}
.MoreProperties{
    margin-top: 50px;
    margin-left: 2%;
}
.product-text {
    max-width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    box-sizing: border-box;
    font-family: calibri;
}
.type {
    display: flex;
    flex-direction: column;
}
