.SliderSize{
    margin-top: 10px;
    border: 2px;
    border-color: black;
    max-width: 80%;
    margin-left: 10%;
}
li {
    list-style-type: none;
}
.product-box {
    max-width: 300px;
    box-shadow: 2px 2px 30px rgb(0 0 0 / 20%);
    border-radius: 10px;
    overflow: hidden;
    margin: 25px;
    
}
.product-img {
    max-height: auto;

}
.MoreProperties a{
    color: grey;
    
    text-decoration: none;
}
.MoreProperties{
    margin-top: 50px;
    margin-left: 45%;
}